$primaryColor : #2cb7db;
$secondaryColor : #2ad4b5;
$whiteColor : #ffffff;
$postTitleColor  : #444444;
$sidebarTitleColor : #666666;
$sidebarTagsColor : #909090;
$lightPrimaryColor : #f5fcff;
$lightSecondaryColor : #ebfff9;
@mixin bg-sections{
  background-color: white;
  box-shadow: 0 0 20px 2px #e9e9e9a8;
  border-radius: 20px;
}
$container-max-widths: (
  xs: 500px,
  sm: 500px,
  md: 700px,
  lg: 700px,
  xl: 700px
);
 
$theme-colors: (
   primary: $primaryColor,
);

$mobileMaxSize : 575.98px;
$xlsize : 1200px;



$mainboxshadow : #f1f0f1a6 -10px 16px 13px -5px, #f7f7f7 1px -10px 10px -5px;

