@font-face {
    font-family: iransans;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: iransans;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: iransans_Medium;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: persianDigits;
    src: url('../fonts/Farsi-Digits/eot/Vazir-Medium-FD.eot');
    src: url('../fonts/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
    url('../fonts/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
    url('../fonts/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: bold;
}

// @font-face {
//     font-family: Vazir;
//     src: url('../fonts/Vazir-Thin.eot');
//     src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Vazir-Thin.woff2') format('woff2'),
//     url('../fonts/Vazir-Thin.woff') format('woff'),
//     url('../fonts/Vazir-Thin.ttf') format('truetype');
//     font-weight: 100;
// }

// @font-face {
//     font-family: Vazir;
//     src: url('../fonts/Vazir-Light.eot');
//     src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Vazir-Light.woff2') format('woff2'),
//     url('../fonts/Vazir-Light.woff') format('woff'),
//     url('../fonts/Vazir-Light.ttf') format('truetype');
//     font-weight: 300;
// }

// @font-face {
//     font-family: Vazir;
//     src: url('../fonts/Vazir-Medium.eot');
//     src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Vazir-Medium.woff2') format('woff2'),
//     url('../fonts/Vazir-Medium.woff') format('woff'),
//     url('../fonts/Vazir-Medium.ttf') format('truetype');
//     font-weight: 500;
// }

// @font-face {
//     font-family: Vazir;
//     src: url('../fonts/Vazir-Black.eot');
//     src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Vazir-Black.woff2') format('woff2'),
//     url('../fonts/Vazir-Black.woff') format('woff'),
//     url('../fonts/Vazir-Black.ttf') format('truetype');
//     font-weight: 900;
// }
 
